frontend/__pycache__/BankTransactionsDashboard.cpython-312.pyc
frontend/__pycache__/BankTransactionsDashboard.cpython-313.pyc
frontend/__pycache__/BeRebelDashboard.cpython-312.pyc
frontend/__pycache__/SalaryDashboard.cpython-312.pyc
frontend/__pycache__/Utils.cpython-312.pyc
